<app-header></app-header>
<mat-drawer-container class="mat-drawer-container">
  <mat-drawer mode="side" opened color="primary" class="mat-drawer-side">
    <div class="side-menu-links">
      <div class="side-link">
        <mat-icon [routerLink]="['/search']" routerLinkActive="active-link"
                  [routerLinkActiveOptions]="{exact: true}">cloud
        </mat-icon>
      </div>
      <div class="side-link">
        <mat-icon [routerLink]="['/bookmarks']" routerLinkActive="active-link"
                  [routerLinkActiveOptions]="{exact: true}">library_books
        </mat-icon>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
<div class="mask" *ngIf="showMask">
  <span>App is blocked. If you want to continue please reload page.</span>
</div>
