.mat-drawer-container {
  height: calc(100% - 91px);
}
.mat-drawer-side {
  background-color: #673ab7;
  width: 80px;
  color: #ffe399;
  padding: 10px;
}

.side-link {
  text-align: center;
  mat-icon {
    font-size: 30px;
    cursor: pointer;

    &:hover, :focus {
      color: #8091bd;
    }
  }
}
.active-link {
  color: #4f75ff;
}

.mask {
  background-color: rgb(160 160 160 / 70%);
  width: 100%;
  height: 100%;
  color: #a50e09;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  font-size: 30px;
  font-weight: 700;
  span {
    display: block;
  }
}
