.mat-drawer-container {
  height: calc(100% - 91px);
}
.mat-drawer-side {
  background-color: #673ab7;
  width: 80px;
  color: #ffe399;
  padding: 10px;
}

.side-link {
  text-align: center;
  mat-icon {
    font-size: 30px;
    cursor: pointer;

    &:hover, :focus {
      color: #8091bd;
    }
  }
}
.active-link {
  color: #4f75ff;
}
